{% extends "base.html" %}

{% block title %}Kelola Kategori{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
            <h1 class="card-title">Kelola Kategori Anda</h1>
            <p styke="font-size: 0.9rem;">Anda bisa menambah kategori sesuka hati.</p>
            
            <h3 class="card-subtitle">Tambahkan Kategori Baru</h3>
            <form method="post" action="{{ url_for('manage_categories') }}" class="category-form">
                <div class="form-group">
                    <input type="text" name="name" placeholder="Nama Kategori" required>
                </div>
                <button type="submit" class="btn btn-primary">Tambah Kategori</button>
            </form>
        </div>

        <div class="card">
            <h3 class="card-subtitle">Kategori yang Ada</h3>
		<div class="Roman">
            {% if categories %}
                <ul class="category-list">
                    {% for category in categories %}
                        <li class="category-item">
                            <span>{{ category.name }}</span>
                            <a href="{{ url_for('delete_category', id=category.id) }}" onclick="return confirm('Anda yakin ingin menghapus kategori ini? Semua gambar di kategori ini akan kehilangan kategorinya.');" class="btn-delete">Hapus</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>Anda belum memiliki kategori.</p>
            {% endif %}
        </div>
    </div>
	</div>
{% endblock %}
