{% extends "base.html" %}

{% block title %}Reset Kata Sandi{% endblock %}

{% block content %}
    <div class="container">
        <div class="card form-card">
            <h1 class="card-title">Reset Kata Sandi</h1>
            <p>Masukkan kata sandi baru Anda.</p>
            
            <form method="post" action="{{ url_for('reset_token', token=token) }}" class="form-reset">
                <div class="form-group">
                    <input type="password" name="password" placeholder="Kata Sandi Baru" required>
                </div>
                <button type="submit" class="btn btn-primary">Reset Kata Sandi</button>
            </form>
            
            <div class="form-links">
                <p><a href="{{ url_for('login') }}" class="link">Kembali ke halaman login</a></p>
            </div>
        </div>
    </div>
{% endblock %}
